* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
    height: 100vh;
    display: flex;
}

aside{
    width: 260px;
}

.panel-chat{
    flex: 1;
}

/* Chat Section*/

.chats-section{
display: flex;
flex-direction: column;
}

.chats-section button{
display: flex;
margin-top: 10px;
background: transparent;
border: none;
}

.chat{
    display: block;
}

