/* GENERALES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
    height: 100vh;
    display: flex;
}

aside{
    width: 260px;
    height: 100vh;
}

.panel-chat{
    flex: 1;
}

aside h1{
margin-left: 10px;
}

aside input{
 padding: 5px 20px;
 border-radius: 10px;
}

/* Contacts Section*/

.chats-section button{
margin-top: 10px;
width: 100%;
text-align: left;
background: transparent;
border: none;
}

/* Chat contact section*/
.panel-chat{
    display: flex;
    flex-direction: column;
}

.panel-chat header{
    padding: 20px;
}

.chat{
    display: flex;
    flex-direction: column;
}

.chat:hover, .chat:focus{
    background-color: aqua;
}


.chat-body{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 20px;
    overflow-y: auto;
    scrollbar-width: 100%;
}

.message{
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    width: 20%;
    border-radius: 5px;
}



.chat-input{
display: flex;
padding: 12px;
    
}
.chat-input input{
    padding: 15px;
    flex: 1;
    border-radius: 10px;
    margin-right: 8px ;
    font-size: 15px;
}